spring:
  jpa:
    open-in-view: false

openapi:
  service-key: ${OPENAPI_SERVICE_KEY}

---
spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:mysql://${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?useSSL=false&allowPublicKeyRetrieval=true
    username: ${DATABASE_USER}
    password: ${DATABASE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        show-sql: true
        format_sql: true
redis:
  host: localhost
  port: 6379

logging:
  level:
    org:
      hibernate:
        orm:
          jdbc:
            bind: trace
        SQL: trace
    com:
      nbe2: DEBUG

kakao:
  rest-api-key: ${KAKAO_REST_API_KEY}
---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:mysql://${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?useSSL=false&allowPublicKeyRetrieval=true
    username: ${DATABASE_USER}
    password: ${DATABASE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show-sql: true
        format_sql: true
redis:
  host: ${REDIS_HOST}
  port: ${REDIS_PORT}